body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Azul */
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.produto {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Ajuste conforme necessário */
    display: inline-block;
    vertical-align: top;
}

.produto img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}